services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: Qdrant
    ports:
      - "6334:6333"
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      - QDRANT_API_KEY=
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "16379:6379"
    volumes:
      - redis_storage:/data
    restart: unless-stopped

volumes:
  qdrant_storage:
  redis_storage:
